<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a href="/cuisines">Cuisines</a>
        <a href="/restaurants">Restaurants</a>
        <a href="/restaurants/new">Add Restaurant</a>
        <a href="/cuisines/new">Add Cuisines</a>
      </div>
      <div class="container">
        #parse( $template )
      </div>
    </nav>
  </body>
</html>
