<div class="col-md-6" id="restaurants" name="restaurants" float="right">
#if($restaurants)
  <table class="table">
    <thead>
      <th>Restaurants</th>
    </thead>
    <tbody>
      #foreach ($restaurant in $restaurants)
        <tr class="success">
          <td>
            $restaurant.getRestaurantName()
          </td>
          <td>
            <a href="/restaurants/$restaurant.getId()/edit"> Edit</a>
          </td>
        </tr>
      #end
    </tbody>
  </table>
#end
</div>
